@charset "utf-8";
/* CSS Document */
html {
  font-size: 62.5%;
  min-width: 320px;
  width: 100%;
}
body {
  color: #333;
  font-family: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN",
    "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo",
    "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 1rem;
  width: 100%;
}
a:hover {
  color: #00a0e9 !important;
  text-decoration: underline !important;
}
a:hover,
button:hover {
  -moz-opacity: 0.75;
  opacity: 0.75;
}
@media screen and (min-width: 600px) {
  .spon {
    display: none !important;
  }
}
@media screen and (max-width: 599px) {
  .pcon {
    display: none !important;
  }
}
img {
  max-width: 100%;
  height: auto;
}
header {
  margin-bottom: 2rem;
}
header .head_box {
  display: flex;
  height: 10rem;
  padding: 2rem 4rem;
  border-bottom: 0.4rem solid #e27933;
  justify-content: space-between;
}
header .head_box .head_l {
  width: 53.3rem;
  display: flex;
  justify-content: space-between;
  height: 6rem;
  flex-wrap: wrap;
  overflow: hidden;
}
header .head_box .head_l h1 {
  width: 22.4rem;
  height: 6rem;
}
header .head_box .head_l .head_list {
  display: flex;
}
header .head_box .head_l .head_list li {
  margin-left: 1rem;
}
header .head_box .head_r {
  width: 100%;
  max-width: 100rem;
  display: flex;
}
header .head_box .head_r .form_box {
  width: 100%;
  max-width: 68rem;
  margin-right: 2rem;
}
header .head_box .head_r form {
  position: relative;
  width: 100%;
}
header .head_box .head_r form .head_form {
  border: 1px solid #707070;
  border-radius: 1rem;
  font-size: 1.5rem;
  padding: 0.8rem 1rem;
  width: 100%;
}
header .head_box .head_r form .submit_btn {
  position: absolute;
  width: 5rem;
  background: #333;
  top: 0;
  right: 0;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 100%;
  cursor: pointer;
}
header .head_box .head_r form .fa-search {
  color: #fff;
  position: absolute;
  top: 0.9rem;
  right: 1.5rem;
  font-size: 2.1rem;
}
header .head_box .head_r .form_box dl {
  display: flex;
  font-size: 1.3rem;
  margin-top: 1rem;
  flex-wrap: wrap;
  height: 1.3rem;
  overflow: hidden;
}
header .head_box .head_r .form_box dl dd {
  margin-right: 1.5rem;
}
header .head_box .head_r .form_box dl dd:last-child {
  margin-right: 0;
}
header .head_box .head_r .form_box dl dd a {
  color: #0da4ea;
  text-decoration: none;
}
header .head_box .head_r .head_btn {
  width: 100%;
  max-width: 30rem;
  display: flex;
  height: 6rem;
}
header .head_box .head_r .head_btn li {
  width: 100%;
  font-size: 0.85vw;
  font-weight: bold;
  border-left: 2px solid #e5e5e5;
  text-align: center;
  padding: 0 1rem;
}
header .head_box .head_r .head_btn li:last-child {
  display: none;
}
header .head_box .head_r .head_btn li:nth-child(3) {
  border-right: 2px solid #e5e5e5;
}
header .head_box .head_r .head_btn li img {
  display: block;
  margin: 0 auto 5px;
  max-width: 4.2rem;
  max-height: 3.6rem;
}
header .head_box .head_r .head_btn li a {
  text-decoration: none;
  color: #333;
}
header nav .gmenu_t {
  font-size: 0.85vw;
  font-weight: bold;
  display: flex;
  width: 100%;
  padding: 0 4rem;
  margin: 13px auto 0;
}
header nav .gmenu_t li {
  text-align: center;
  width: 100%;
  border-left: #e5e5e5 2px solid;
}
header nav .gmenu_t a:before {
  vertical-align: text-bottom;
  display: inline-block;
  content: "";
  margin-right: 1rem;
}
header nav .gmenu_t li:nth-child(1) a:before {
  width: 2.7rem;
  height: 1.8rem;
  background: url("../images/gmenu_t_1.png") no-repeat;
  background-size: cover;
}
header nav .gmenu_t li:nth-child(2) a:before {
  width: 1.8rem;
  height: 1.8rem;
  background: url("../images/gmenu_t_2.png") no-repeat;
  background-size: cover;
}
header nav .gmenu_t li:nth-child(3) a:before {
  width: 1.8rem;
  height: 1.8rem;
  background: url("../images/gmenu_t_3.png") no-repeat;
  background-size: cover;
}
header nav .gmenu_t li:nth-child(4) a:before {
  width: 2.1rem;
  height: 1.8rem;
  background: url("../images/gmenu_t_4.png") no-repeat;
  background-size: cover;
}
header nav .gmenu_t li:nth-child(5) a:before {
  width: 2.4rem;
  height: 1.8rem;
  background: url("../images/gmenu_t_5.png") no-repeat;
  background-size: cover;
}
header nav .gmenu_t li:last-child {
  border-right: #e5e5e5 2px solid;
}
header nav .gmenu_t li a {
  color: #333;
  text-decoration: none;
  padding: 0.7rem 0;
  display: block;
}
header nav .gmenu_b {
  font-size: 0.8vw;
  font-weight: bold;
  display: flex;
  width: 100%;
  padding: 0 4rem;
  margin: 1.3rem auto 0;
}
header nav .gmenu_b li {
  width: 100%;
  align-items: center;
  background: #f1f1f1;
  padding: 0.4rem 0 0.4rem 0.4rem;
}
header nav .gmenu_b li:last-child {
  width: 100%;
  align-items: center;
  background: #f1f1f1;
  padding-right: 0.4rem;
}
header nav .gmenu_b li a {
  background: #fff;
  display: flex;
  border-radius: 0.3rem;
  align-items: center;
  line-height: 1.3;
  text-decoration: none;
  color: #333;
  padding: 0.5rem 0;
  height: 100%;
}
header nav .gmenu_b li img {
  max-width: 6.6rem;
  max-height: 4.8rem;
  width: 30%;
  margin-left: 7%;
  margin-right: 4.5%;
}
@media screen and (max-width: 1584px) {
  header .head_box {
    padding: 2.3rem 4rem;
  }
  header .head_box .head_l {
    width: 66rem;
    height: 5rem;
  }
  header .head_box .head_l h1 {
    width: 18rem;
    height: 5rem;
  }
  .head_list {
    margin-right: 1.5rem;
  }
  header .head_box .head_l .head_list li img {
    height: 5rem;
  }
  header .head_box .head_r .form_box {
    height: 5rem;
  }
  header .head_box .head_r .head_btn {
    height: 5rem;
  }
  header .head_box .head_r form .head_form {
    border-radius: 0.3rem;
    padding: 0.6rem 1rem;
  }
  header .head_box .head_r form .submit_btn {
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  header .head_box .head_r .head_btn li img {
    max-height: 3.2rem;
  }
  header .head_box .head_r form .fa-search {
    top: 0.5rem;
  }
  header .head_box .head_r .form_box dl {
    margin-top: 0.5rem;
  }
}
@media screen and (max-width: 1024px) {
  header .head_box {
    padding: 2px 2rem;
  }
  header .head_box .head_r .head_btn li {
    font-size: 1.5vw;
  }
  header nav .gmenu_t {
    padding: 0 2rem;
    font-size: 1.5vw;
  }
  header nav .gmenu_t li span {
    display: none;
  }
  header nav .gmenu_b {
    padding: 0 2rem;
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 599px) {
  header .head_box {
    padding: 1rem 1rem 7.5rem;
    position: relative;
    height: auto;
    border-bottom: 0.2rem solid #e27933;
  }
  header .head_box .head_l h1 {
    height: auto;
  }
  header .head_box .head_r .head_btn li {
    font-size: 1.1rem;
    padding: 0;
  }
  header .head_box .head_r .head_btn li:last-child {
    border-right: none;
    padding: 0 0 0 5px;
    display: block;
  }
  header .head_box .head_r .head_btn li:last-child button {
    background: #e27933;
    color: #fff;
    display: block;
    height: 100%;
    border-radius: 5px;
    position: relative;
    width: 100%;
  }
  header .head_box .head_r .head_btn li:last-child button p {
    font-weight: bold;
    margin-top: 7px;
  }
  header .head_box .head_r form .fa-search {
    top: 0.55rem;
  }
  header .head_box .head_r .form_box dl {
    margin-bottom: 10px;
  }
  header .head_box .head_r .head_btn li img {
    padding: 0 8px;
    vertical-align: bottom;
  }
  header .head_box .head_l {
    height: auto;
    width: 40%;
  }
  header .head_box .head_r form .head_form {
    border-radius: 5px;
  }
  header .head_box .head_r form .submit_btn {
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  header .head_box .head_l .head_list {
    display: none;
  }
  header .head_box .head_r {
    width: 60%;
  }
  header .head_r .form_box {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 0 10px;
  }
  header .head_btn li:nth-child(1) {
    display: none;
  }
  header .head_box .head_r form .head_form {
    font-size: 1.2rem;
  }
  header nav .gmenu_t {
    display: none;
  }
  header nav .gmenu_b {
    padding: 0 1rem;
    margin-top: 0;
    width: 800px;
  }
  header nav .gmenu_b_wrap {
    width: 100%;
    overflow: auto;
    background: #f1f1f1;
    border-bottom: 0.5rem solid #f1f1f1;
  }
  header nav .gmenu_b li {
    width: 100%;
    border-bottom: 0.5rem solid #f1f1f1;
  }
  header nav .gmenu_b li a {
    font-size: 1.2rem;
    display: block;
    text-align: center;
  }
  header nav .gmenu_b li a p {
    display: flex;
    align-items: center;
    height: 32px;
    justify-content: center;
  }
  header nav .gmenu_b li a img {
    display: block;
    margin: auto;
    width: 94px;
    height: 68px;
  }
  header .head_box .head_r .head_btn {
    padding-left: 3rem;
    height: 4rem;
  }
  header .drawer-hamburger {
    box-sizing: border-box !important;
  }
  header .drawer-hamburger-icon,
  header .drawer-hamburger-icon::after,
  header .drawer-hamburger-icon::before {
    background: #fff;
    display: block;
    margin: auto;
  }
  header .drawer-hamburger-icon::before {
    top: -5px;
  }
  header .drawer-hamburger-icon::after {
    top: 5px;
  }
  header .drawer-hamburger-icon {
    width: 40%;
    text-align: center;
  }
  header .drawer-hamburger-icon {
    margin-top: 8px;
  }
  .drawer--left.drawer-open .drawer-hamburger {
    left: 0 !important;
  }
  header .drawer-hamburger {
    padding: 0;
    text-align: center;
  }
}
.sidebar {
  width: 320px;
  margin-right: 30px;
  padding-left: 4rem;
}
.sidebar a {
  display: block;
}
.sidebar h3 {
  margin-top: 2rem;
  background: #656565;
  color: #fff;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 1rem 2rem;
}
.sidebar a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.sidebar dl {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 1rem;
}
.sidebar dl dt {
  background: #f1f1f1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 1.5rem;
}
.sidebar dl dt a {
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar dl dd a {
  position: relative;
}
.sidebar dl dt img {
  width: 50px;
  height: 37px;
  margin: 8px 15px 8px 1rem;
}
.sidebar dl dd {
  margin: 0 1rem;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}
.sidebar dl dd:last-child {
  border-bottom: 0;
}
.sidebar dt a:after {
  content: "";
  width: 6px;
  height: 11px;
  background: url("../images/side_arrow.png") no-repeat;
  background-size: cover;
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 22px;
}
.sidebar dd a:after {
  content: "";
  width: 6px;
  height: 11px;
  background: url("../images/side_arrow.png") no-repeat;
  background-size: cover;
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 4px;
}
.sidebar .sidebar_btn {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 1rem;
}
.sidebar ul li {
  margin: 0 1rem;
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}
.sidebar ul li a {
  position: relative;
}
.sidebar ul li a:after {
  content: "";
  width: 6px;
  height: 11px;
  background: url("../images/side_arrow.png") no-repeat;
  background-size: cover;
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 4px;
}
.sidebar ul li:last-child {
  border-bottom: none;
}
.sidebar .sideber_info li {
  margin: 0;
  padding: 15px 1rem;
}
.sidebar .sideber_info li:last-child {
  border-bottom: 1px solid #ccc;
}
.sidebar .sideber_info {
  margin-bottom: 2rem;
}
@media screen and (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}

.stit {
  font-size: 3.2rem;
  color: #e27933;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}
.stit img {
  width: 50px;
  height: 50px;
  margin-right: 2rem;
  vertical-align: bottom;
}

.sstit{
	background: #656565;
	color: #fff;
	font-weight: bold;
	font-size: 2.4rem;
	text-align: center;
	padding:10px 0;
	line-height: 1;
	margin-bottom: 20px;
}

.shtit{
	border-left: 7px solid #e27933;
	padding-left: 10px;
	line-height: 1.5;
	font-size: 1.8rem;
	font-weight: bold;
	margin-bottom: 20px;
}

.common_table{
	background: #f6f6f6;
}

.common_table td{
	background: #fff;
	padding: 20px;
	text-align: center;
	font-size: 1.6rem;
}

.common_table th{
	background: #a2a2a2;
	color: #fff;
	padding: 20px;
	text-align: center;
	font-size: 1.6rem;
	font-weight: bold;
}


@media screen and (max-width: 599px) {
  .stit {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  .stit img {
    width: 25px;
    height: 25px;
    margin-right: 1rem;
  }
}
footer {
  position: relative;
}
footer h3 {
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer h3 span {
  color: #fff;
  font-size: 2.4rem;
  background: #e27933;
  padding: 1rem;
  border-radius: 5px;
  margin-right: 1rem;
  display: flex;
  align-items: center;
}
footer h3 span:before {
  width: 24px;
  height: 24px;
  content: "";
  background: url("../images/foot_tit_ind.png");
  background-size: cover;
  display: inline-block;
  margin-right: 1rem;
}
footer .foot_t {
  background: #f2ebe1;
  padding: 2rem 4rem 4rem;
}
footer .foot_t .box {
  background: #fff;
  border-radius: 1rem;
}
footer .foot_t .box .list1 {
  display: flex;
  padding: 2rem 0;
}
footer .foot_t .box .list1 li {
  width: 100%;
  padding: 2rem;
  border-right: 1px solid #ccc;
  text-align: center;
}
footer .foot_t .box .list1 li:last-child {
  border-right: 0;
}
footer .foot_t .box h4 {
  font-size: 2.8rem;
  font-weight: bold;
  color: #e27933;
  margin-bottom: 2rem;
}
footer .foot_t .box .txt {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
footer .foot_t .box .list1 li p {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}
footer .foot_t .box .list1 li img {
  padding-bottom: 2rem;
}
footer .foot_t .box .list1 li a {
  font-size: 1.8rem;
  font-weight: bold;
  border: 1px solid #707070;
  text-decoration: none;
  padding: 1rem 50px;
  border-radius: 30px;
  display: inline-flex;
  color: #333;
  align-items: center;
}
footer .foot_t .box .list1 li a:before {
  width: 26px;
  height: 26px;
  display: inline-block;
  content: "";
  background: url("../images/foot_btn_ind.png") no-repeat;
  background-size: cover;
  margin-right: 1rem;
}
footer .foot_t .box2 {
  margin: 0 4rem;
  padding: 4rem 0;
  border-top: 1px solid #ccc;
  text-align: center;
}
footer .foot_t .box2 .list2 {
  display: flex;
  padding: 0 1rem;
}
footer .foot_t .box2 .list2 li {
  width: 100%;
  padding: 0 1rem;
}
footer .foot_t .box2 .list2 li h5 {
  background: #f6f6f6;
  font-size: 2.8rem;
  line-height: 80px;
  padding: 0 0 0 150px;
  position: relative;
  text-align: left;
  margin-bottom: 4rem;
  margin-top: 25px;
}
footer .foot_t .box2 .list2 li h5 img {
  position: absolute;
  width: 110px;
  height: 110px;
  left: 2rem;
  top: -15px;
}
footer .foot_t .box2 .list2 li p {
  font-size: 2.3rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}
footer .foot_t .box2 .list2 li .btn {
  background: #e27933;
  color: #fff;
  font-weight: bold;
  font-size: 2.4rem;
  display: inline-flex;
  align-items: center;
  padding: 15px 60px;
  border-radius: 4rem;
  text-decoration: none;
}
footer .foot_t .box2 .list2 li .btn:before {
  width: 36px;
  height: 36px;
  background: url("../images/foot_boc2_btn_icon.png") no-repeat;
  content: "";
  display: inline-block;
  margin-right: 1rem;
  background-size: cover;
}
footer .foot_t .box2 .list2 li .tel_text {
  border: 1px solid #e27933;
  color: #e27933;
  padding: 1rem 30px;
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 2.8rem;
  display: inline-flex;
  align-items: flex-end;
}
footer .foot_t .box2 .list2 li .tel_text span {
  font-size: 2rem;
}
footer .foot_t .box2 .list2 li .tel {
  font-size: 4.6rem;
  font-weight: bold;
  color: #e27933;
  margin-bottom: 1rem;
  line-height: 1;
}
footer .foot_t .box2 .list2 li:nth-child(3) p {
  color: #e27933;
  font-weight: bold;
}
@media screen and (max-width: 1480px) {
  footer .foot_t {
    padding: 2rem 1rem 4rem;
  }
  footer .foot_t .box .list1 li {
    padding: 1rem;
  }
  footer .foot_t .box .list1 li p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  footer .foot_t .box .list1 li .txt,
  footer .foot_t .box .txt {
    font-size: 1.5rem;
  }
  footer .foot_t .box .list1 li a {
    font-size: 1.4rem;
    padding: 1rem 2rem;
  }
  footer .foot_t .box .list1 li a::before {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
  footer .foot_t .box2 {
    margin: 0 1rem;
  }
  footer .foot_t .box2 .list2 li h5 img {
    width: 4rem;
    height: 4rem;
    position: inherit;
    left: 0;
    top: 0;
    margin-right: 5px;
  }
  footer .foot_t .box2 .list2 li h5 {
    font-size: 1.8rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    line-height: 60px;
  }
  footer .foot_t .box2 .list2 li p {
    font-size: 1.5rem;
  }
  footer .foot_t .box2 .list2 li .btn {
    font-size: 1.5vw;
    padding: 1rem 2rem;
  }
  footer .foot_t .box2 .list2 li .btn::before {
    width: 18px;
    height: 18px;
    margin-right: 5px;
  }
  footer .foot_t .box2 .list2 li .tel_text {
    padding: 1rem 1rem;
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 1.8rem;
    display: block;
  }
  footer .foot_t .box2 .list2 li .tel_text span {
    font-size: 1.4rem;
    display: block;
    margin-top: 5px;
  }
  footer .foot_t .box2 .list2 li .tel {
    font-size: 3rem;
  }
  footer .foot_t .box h4 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 1024px) {
  footer .foot_t .box .list1 {
    flex-wrap: wrap;
    padding: 0 2rem;
  }
  footer .foot_t .box .list1 li {
    width: 50%;
    padding: 2rem 1rem;
  }
  footer .foot_t .box .list1 li:nth-child(1),
  footer .foot_t .box .list1 li:nth-child(2) {
    border-bottom: 1px solid #ccc;
  }
  footer .foot_t .box .list1 li:nth-child(2) {
    border-right: none;
  }
  footer .foot_t .box2 .list2 {
    flex-wrap: wrap;
  }
  footer .foot_t .box2 .list2 li {
    width: 50%;
  }
}
@media screen and (max-width: 599px) {
  footer h3 {
    font-size: 1.9rem;
  }
  footer h3 span {
    font-size: 1.6rem;
    padding: 0.5rem;
    border-radius: 5px;
    margin-right: 1rem;
    display: flex;
    align-items: center;
  }
  footer h3 span::before {
    width: 16px;
    height: 16px;
    margin-right: 0.5rem;
  }
  footer .foot_t .box .list1 li {
    width: 100%;
    border-right: none;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
  }
  footer .foot_t .box .list1 li p {
    font-size: 1.4rem;
    text-align: left;
    margin-bottom: 10px;
  }
  footer .foot_t .box .list1 li .txt {
    font-size: 1.7rem;
  }
  footer .foot_t .box h4 {
    text-align: left;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 1.9rem;
  }
  footer .foot_t .box h4:before {
    content: "◆";
    display: inline;
    margin-right: 5px;
  }
  footer .foot_t .box .list1 li img {
    display: none;
  }
  footer .foot_t .box .list1 li a {
    font-size: 1.6rem;
    align-items: center;
    display: inline-flex;
  }
  footer .foot_t .box .list1 li a::before {
    width: 22px;
    height: 22px;
    margin-right: 5px;
  }
  footer .foot_t .box .txt {
    text-align: left;
    font-size: 1.7rem;
    margin-bottom: 0;
    line-height: 1.5;
  }
  footer .foot_t .box2 {
    padding: 20px 10px 10px;
  }
  footer .foot_t .box2 .list2 li {
    width: 100%;
  }
  footer .foot_t .box2 .list2 {
    padding: 0;
  }
  footer .foot_t .box2 .list2 li {
    padding: 0;
    margin-bottom: 5px;
  }
  footer .foot_t .box2 .list2 li h5 {
    line-height: 1;
    padding: 10px 0 10px 80px;
    margin: 25px 0 20px;
    font-size: 1.8rem;
  }
  footer .foot_t .box2 .list2 li h5 img {
    position: absolute;
    width: 55px;
    height: 55px;
    top: -7px;
    left: 10px;
  }
  footer .foot_t .box2 .list2 li .btn {
    font-size: 1.6rem;
  }
  footer .foot_t .box2 .list2 li .tel_text {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
  footer .foot_t .box2 .list2 li .tel_text span {
    font-size: 1.6rem;
  }
  footer .foot_t .box2 .list2 li .tel {
    font-size: 3.6rem;
    margin-bottom: 1rem;
    line-height: 1;
  }
  footer .foot_t .box2 .list2 li p {
    font-size: 1.6rem;
  }
}
footer .foot_b {
  background: #f6f6f6;
  display: flex;
  justify-content: space-between;
  padding: 4rem;
}
footer .foot_b .foot_b_l {
  width: 100%;
  margin-right: 50px;
  padding: 0 30px;
}
footer .foot_b .foot_b_l h3 {
  width: 100%;
  font-size: 2.2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #333;
  justify-content: flex-start;
}
footer .foot_b .foot_b_l .box1 dt,
.foot_link {
  background: #707070;
  color: #fff;
  font-weight: bold;
}
footer .foot_b .foot_b_l .box1 dt a,
.foot_link a {
  color: #fff;
  font-size: 1.9rem;
  padding: 1rem;
  text-decoration: none;
  display: block;
  position: relative;
}

footer .foot_b .foot_b_l .box1 dt a:hover,
.foot_link a:hover{
	color: #ffff00!important;
	text-decoration: none!important;
	opacity: 1;
}


footer .foot_b .foot_b_l .box1 dt a:after {
  background: url("../images/footb_ind.png") no-repeat;
  width: 6px;
  height: 11px;
  background-size: cover;
  display: block;
  content: "";
  position: absolute;
  top: 35%;
  right: 1rem;
}
footer .foot_b .foot_b_l .box1 ul {
  margin-bottom: 2rem;
}
footer .foot_b .foot_b_l .box1 ul li {
  padding-left: 30px;
  padding: 1rem 0 0 15%;
  font-size: 1.8rem;
  position: relative;
}
footer .foot_b .foot_b_l .box1 ul li:before {
  content: "-";
  display: block;
  position: absolute;
  left: 0;
  top: 1rem;
}
footer .foot_b .foot_b_l .box1 ul li a {
  line-height: 1.3;
  color: #333;
  text-decoration: none;
}
footer .foot_b .foot_b_l .box1 {
  display: flex;
  width: 100%;
  margin-bottom: 60px;
}
footer .foot_b .foot_b_l .lb {
  display: flex;
  width: 100%;
}
footer .foot_b .foot_b_l .lb2,
footer .foot_b .foot_b_l .rb2 {
  width: 100%;
  margin-right: 4rem;
}
footer .foot_b .foot_b_l .rb .rb2 {
  margin-right: 0;
}
footer .foot_b .foot_b_l .rb {
  display: flex;
  width: 100%;
}
footer .foot_b .foot_b_l .box2 {
  display: flex;
  width: 100%;
}
footer .foot_b .foot_b_r {
  width: 100%;
  max-width: 470px;
}
footer .foot_b .foot_b_r .wrap {
  background: #fff;
  padding: 2rem;
  border-radius: 1rem;
}
footer .foot_b .foot_b_r .box1 img {
  width: 301px;
  height: 81px;
  margin-bottom: 30px;
}
footer .foot_b .foot_b_r .box1 p {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}
footer .foot_b .foot_b_r .box1 {
  border-bottom: 1px solid #ccc;
  padding: 2rem;
}
footer .foot_b .foot_b_r .box1 li {
  text-align: center;
  margin-bottom: 2rem;
}
footer .foot_b .foot_b_r .box1 li a {
  background: #e27933;
  color: #fff;
  font-size: 1.8rem;
  display: inline-flex;
  padding: 15px 65px;
  font-weight: bold;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  border-radius: 45px;
}

footer .foot_b .foot_b_r .box1 li a:hover,footer .foot_t .box2 .list2 li .btn:hover{
	color: #ffff00!important;
	opacity: 1;
	text-decoration: none!important;
}

.right_btn ul li a:hover{
		color: #ffff00!important;
	opacity: 1;
	text-decoration: none!important;
}

footer .foot_b .foot_b_r .box1 li a:before {
  width: 26px;
  height: 26px;
  background: url("../images/footb_btn.png") no-repeat;
  background-size: cover;
  margin-right: 1rem;
  display: inline-block;
  content: "";
}
footer .foot_b .foot_b_r .box2 {
  padding: 4rem 0 0;
}
footer .foot_b .foot_b_r .box2 strong {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  display: block;
}
footer .foot_b .foot_b_r .box2 p {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}
footer .foot_b .foot_b_l .box2 div {
  width: 100%;
  max-width: 285px;
  margin-right: 4rem;
}
footer .foot_b .foot_b_l .box2 div:last-child {
  margin-right: 0;
}
footer .foot_b .foot_b_l .box2 div li {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
footer .foot_b .foot_b_l .box2 div li:before {
  content: "-";
  display: inline;
  margin-right: 1rem;
}
footer .foot_b .foot_b_l .box2 div li a {
  text-decoration: none;
  color: #333;
}
footer .cr {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem 0;
  background: #333;
  color: #fff;
}
@media screen and (max-width: 1480px) {
  footer .foot_b .foot_b_l {
    margin-right: 0;
  }
  footer .foot_b .foot_b_l h3 {
    font-size: 1.4rem;
  }
  footer .foot_b .foot_b_r {
    max-width: 320px;
  }
  footer .foot_b .foot_b_l .box1 dt a,
  .foot_link a {
    font-size: 1.4rem;
  }
  footer .foot_b .foot_b_l .box1 ul li {
    font-size: 1.3rem;
    padding: 1rem 0 0 6%;
  }
  footer .foot_b .foot_b_r .box1 img {
    width: 240px;
    height: auto;
    margin-bottom: 20px;
  }
  footer .foot_b .foot_b_r .box1 p {
    font-size: 1.4rem;
  }
  footer .foot_b .foot_b_r .box1 li a {
    font-size: 1.4rem;
    padding: 12px;
    width: 100%;
  }
  footer .foot_b .foot_b_l .box2 div li {
    font-size: 1.3rem;
  }
  footer .foot_b .foot_b_r .box2 strong {
    font-size: 2rem;
  }
  footer .foot_b .foot_b_r .box2 p {
    font-size: 1.3rem;
  }
  footer .cr {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1024px) {
  footer .foot_b .foot_b_l .box1 {
    display: block;
  }
  .foot_b .foot_b_l .rb2 {
    margin-right: 0 !important;
  }
  footer .foot_b {
    display: block;
  }
  footer .foot_b .foot_b_r {
    margin-top: 60px;
    width: 100%;
    max-width: 100%;
  }
}
.right_btn {
  position: fixed;
  right: 0;
  top: 20%;
  z-index: 1;
}
@media screen and (max-width: 599px) {
  footer .foot_b {
    padding: 20px 10px 30px;
  }
  footer .foot_b .foot_b_l {
    padding: 0;
  }
  footer .foot_b .foot_b_l .lb {
    display: block;
  }
  footer .foot_b .foot_b_l .rb {
    display: block;
  }
  footer .foot_b .foot_b_r .box2 {
    padding-top: 2rem;
  }
  .foot_link a:after {
    background: url("../images/footb_ind.png") no-repeat;
    width: 10px;
    height: 17px;
    background-size: cover;
    display: block;
    content: "";
    position: absolute;
    top: 27%;
    right: 1.3rem;
  }
  footer .foot_b .foot_b_l .box2 {
    flex-wrap: wrap;
  }
  footer .foot_b .foot_b_l .box2 div {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .ac-parent {
    position: relative; /* 追加 */
    height: 40px;
    line-height: 40px;
    font-size: 1.8rem;
    padding-left: 10px;
    cursor: pointer;
    margin-bottom: 15px;
  }
  .ac-parent.open {
    margin-bottom: 0;
  }
  /* ①プラスの横線 */
  .ac-parent:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 8px;
    width: 20px;
    height: 2px;
    background: #fff;
    transform: translateY(-50%);
  }
  /* ②プラスの縦線 */
  .ac-parent:after {
    content: "";
    position: absolute;
    top: 50%;
    /* 8px+12px-1px(幅2pxの半分) */
    right: 17px;
    width: 2px;
    height: 20px;
    background: #fff;
    transform: translateY(-50%);
    transition: 0.3s;
  }
  /* ③オープン時にopenクラスを付与（縦線を回転させて非表示に） */
  .ac-parent.open:after {
    top: 25%;
    opacity: 0;
    transform: rotate(90deg);
  }
  .ac-child {
    display: none;
  }
  footer .foot_b .foot_b_r {
    margin-top: 0;
  }
  footer .foot_b .foot_b_r .box1 img {
    width: 240px;
    height: 65px;
    margin-bottom: 20px;
  }
  footer .foot_b .foot_b_r .box1 p {
    text-align: center;
  }
  footer .foot_b .foot_b_r .box1 li a {
    color: #fff;
    font-size: 1.6rem;
    display: inline-flex;
    padding: 10px 0;
    width: 100%;
    font-weight: bold;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
  }
  footer .foot_b .foot_b_r .box1 li a::before {
    width: 22px;
    height: 22px;
  }
  footer .foot_b .foot_b_r .box2 strong {
    text-align: center;
  }
}
.right_btn ul li {
  width: 120px;
  height: 120px;
  color: #fff;
  padding: 1rem;
  background: #656565;
  display: block;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}
.right_btn ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
}
.right_btn ul li a img {
  width: 43px;
  height: 39px;
  display: block;
  margin: 2rem auto 5px;
}
.right_btn ul li:nth-child(1) {
  background: #d22d26;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-bottom: 2px;
}
.right_btn .gotop {
  display: block;
  width: 120px;
}
.right_btn .gotop img {
  display: block;
  width: 60px;
  height: 60px;
  margin: 4rem auto 0;
}
@media screen and (max-width: 1584px) {
  .right_btn ul li {
    width: 90px;
    height: 90px;
    font-size: 1.2rem;
  }
  .right_btn ul li a img {
    width: 34px;
    height: 30px;
    margin: 1rem auto 5px;
  }
  .right_btn .gotop {
    width: 90px;
  }
}
@media screen and (max-width: 599px) {
  .right_btn {
    display: none !important;
  }
}


.blead_list ul{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.blead_list ul li{
	font-size: 1.2rem;
	font-weight: bold;
}

.blead_list ul li:after{
	content: ">";
	margin: 0 10px;
}

.blead_list ul li:last-child:after{
	display: none;
}

.blead_list ul li a{
	color: #5285D1;
}

.bread_list ul li{
	display: flex;
	font-size: 1.2rem;
}

.page_mainbox{
	max-width: 1200px;
	padding: 0 10px;
	margin: auto;
	width: 100%;
}

.page_mainbox .ptit{
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	padding-bottom: 20px;
	line-height: 1;
	border-bottom: 1px solid #ccc;
	margin-bottom: 50px;
}

.page_mainbox .sub_contents{
	width: 100%;
}

.page_mainbox .sidebar{
	padding-left: 0;
}

.page_mainbox.col2{
	display: flex;
	flex-flow: row-reverse;
	
}

.sub_contents{
	max-width: 890px;
}

.sort_list{
	display: flex;
	font-size: 1.5rem;
	align-items: center;
	margin-bottom: 20px;
}

.sort_list p{
	line-height: 1;
}

.sort_list ul{
	display: flex;
	align-items: center;
}

.sort_list ul li{
	color: #5285D1;
	font-weight: bold;
	line-height: 1;
	vertical-align: bottom;
}


.sort_list ul li:after{
	content: "|";
	margin: 0 5px;
	display: inline-block;
	color: #333;
	font-weight: normal;
}

.sort_list ul li a{
	font-weight: normal;
	text-decoration: none;
	color: #333;
}

.pager{
	text-align: center;
	margin-bottom: 40px;
}

.pager .pager_txt{
	font-size: 1.4rem;
	margin-bottom: 10px;
}

.pager ul{
	display: flex;
	justify-content: center;
}

.pager ul li{
	border: 1px solid #ccc;
	font-size: 1.4rem;
	color:  #ccc;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: -1px;
} 

.pager ul li:first-child{
	width: 84px;
	margin-right: 10px;
}

.pager ul li:last-child{
	width: 84px;
	margin-left: 10px;
}

.pager ul li.active{
	border: 1px solid #E27933;
	color: #E27933;
	position: relative;
	z-index: 2;
}

.pager ul li:hover{
	border: 1px solid #E27933;
	color: #E27933;
	position: relative;
	z-index: 2;
}

.pager ul li a{
	color: #E27933;
	text-decoration: none;
		display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%
}

.pager ul li a:hover{
	color: #E27933!important;
	text-decoration: none!important;
	opacity: 1!important;
}

.go_top_btn a{
	font-size: 1.8rem;
font-weight: bold;
border: 1px solid #707070;
text-decoration: none;
padding: 1rem 20px;
border-radius: 30px;
display: inline-flex;
color: #333;
align-items: center;
}

.go_top_btn a::before {
  width: 26px;
  height: 26px;
  display: inline-block;
  content: "";
  background: url("../images/foot_btn_ind.png") no-repeat;
    background-size: auto;
  background-size: cover;
  margin-right: 1rem;
}

.go_top_btn{
	text-align: center;
	margin-bottom: 60px;
}

.content_tit{
	background: #FFEBDD;
	padding: 10px 10px 10px 20px;
	font-size: 1.8rem;
	font-weight: bold;
	border-left: 10px solid #E27933;
	margin-bottom: 20px;
}

.contents_box{
	display: flex;
}

.contents_box p{
	margin-bottom: 20px;
	font-size: 1.5rem;
	line-height: 1.5;
}

.contents_box p:last-child{
	margin-bottom: 0;
}

.contents_box .clb{
	margin-right: 20px;
	margin-bottom: 20px;
}

.contents_box .crb{
	margin-bottom: 20px;
}

.contents_box.con_1 .clb{
	width: 33.33%;
}

.contents_box.con_1 .crb{
	width: 66.66%;
}

.contents_box.con_2 .clb{
	width: 66.66%;
}

.contents_box.con_2 .crb{
	width: 33.33%;
}

.contents_box.con_3 .clb{
	width: 50%;
}

.contents_box.con_3 .crb{
	width: 50%;
}

@media screen and (max-width: 599px) {
.contents_box{
	display: block;
}




.contents_box .clb{
	margin-right: 0;
	width: 100%!important
}
	
	.contents_box .crb{
	width: 100%!important
}
}


