@charset "utf-8";
/* CSS Document */

.guide_nav{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 30px;
	
}

.guide_nav a{
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 185px;
	font-size: 1.8rem;
	font-weight: bold;
	padding: 10px 0 25px;
	text-align: center;
	position: relative;
}
.guide_nav li {
    margin-right: 10px;
    margin-bottom: 10px;
}

.guide_nav li a{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	color: #333;
	text-decoration: none;
	
}

.guide_nav span:after{
	content: "";
	background: url("../images/top_category_morebtn_ind.png") no-repeat;
	width: 9px;
	display: block;
	height: 5px;
	bottom: 10px;
	margin: auto;
	position: absolute;
	background-size: cover;
	
	left: 0;
	right: 0;
}

.guide_nav li:last-child{
	margin-right: 0;
}

.guide_contents p{
	font-size: 1.6rem;
	margin-bottom: 20px;
	line-height: 1.5;
}

.mgnB10{
	margin-bottom: 10px!important;
}

.mgnB40{
	margin-bottom: 40px!important;
}



.guide_contents section{
	margin-bottom: 60px;
}

.list li{
	font-size: 1.6rem;
	margin-left: 15px;
	padding-left: 20px;
	position: relative;
	margin-bottom: 5px;
	line-height: 1.5;
}

.list li:last-child{
	margin-bottom: 20px;
}

.list li:before{
	content: "•";
	display: inline-block;
	position: absolute;
	left: 0;
	font-weight: bold;
}

.list li strong{
	font-weight: bold;
}



.notes li{
	color: #666;
	font-size: 1.4rem;
	line-height: 1.5;
	margin-bottom: 5px;
	margin-left: 15px;
	padding-left: 20px;
	position: relative;
}

.notes li:before{
	content: "※";
	display: inline-block;
	position: absolute;
	left: 0;
}

.guide_contents  p.note{
		color: #666;
	font-size: 1.4rem;
	line-height: 1.5;
	padding-left: 20px;
	position: relative;
	display: block;
}

.guide_contents  p.note:before{
	content: "※";
	display: inline-block;
	position: absolute;
	left: 0;
	line-height: 1.5;
}


#sec1 img{
	display: block;
	margin: 0 auto 20px;
	width: 500px;
	height: auto;
}
#sec3 .common_table{
	margin-bottom: 10px;
}

#sec3 .common_table td:first-child{
	font-weight: bold;
}

#sec4 h4{
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
	margin-bottom: 10px;
}

#sec4 .common_table{
	margin-bottom: 40px;
}

#sec4 .common_table td:first-child{
	font-weight: bold;
}

#sec4 .common_table td{
	text-align: left;
}

#sec4 .common_table td p:last-child{
	margin-bottom: 0;
}


@media screen and (max-width: 1480px) {

  
}
@media screen and (max-width: 599px) {
	.guide_nav li{
	border: 1px solid #ccc;
	width: 49%;
	margin-right: 2%;
	margin-bottom: 10px;
		font-size: 1.6rem;
}
    .guide_nav a {
        width: auto;
    }
	.guide_nav li:nth-child(2n){
		margin-right: 0;
}

}
	
 