h1.main-page-title {
    font-size: 2.4rem;
    font-weight: 700;
    color: #e27933;
    position: relative;
    padding-left: 2em;
    margin-bottom: 20px;
    &:before {
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: inline-block;
        width: 1.3em;
        height: 1.3em;
    }
}
.page-width {
    margin: 0 !important;
    padding: 0 !important;
    max-width: none;
}
.contact {
    margin: 0 !important;
    padding: 0 !important;
}
.form_generater_form_div {
    padding: 0;
    margin: 2rem 0;
}