h1.main-page-title {
    font-size: 2.4rem;
    font-weight: 700;
    color: #e27933;
    position: relative;
    padding-left: 2em;
    margin-bottom: 20px;
    &:before {
        position: absolute;
        content: '';
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        display: inline-block;
        width: 1.3em;
        height: 1.3em;
    }
}
.rte {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.ly_statusCnt {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.ly_status {
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    span {
        font-weight: bold;
        padding: 0.5em 0;
    }
    &:nth-of-type(1) {
        &:after {
            content: '';
            position: absolute;
            z-index: -1;
            left: 50%;
            top: 25px;
            transform: translateY(-50%);
            height: 5px;
            width: 50%;
            background: #e5e5e5;
        }
    }
    &:nth-of-type(2) {
        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            right: 50%;
            top: 25px;
            transform: translateY(-50%);
            height: 5px;
            width: 50%;
            background: #e5e5e5;
        }
        &:after {
            content: '';
            position: absolute;
            z-index: -1;
            left: 50%;
            top: 25px;
            transform: translateY(-50%);
            height: 5px;
            width: 50%;
            background: #e5e5e5;
        }
    }
    &:nth-of-type(3) {
        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            right: 50%;
            top: 25px;
            transform: translateY(-50%);
            height: 5px;
            width: 50%;
            background: #e5e5e5;
        }
    }
}
.js_statusCircle {
    color: #fff;
    font-weight: bold;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    font-size: 1.6rem;
    &.js_statusCircle__orange {
        background-color: #e27933;
    }
}
.page-width {
    margin: 0 !important;
    padding: 0 !important;
    max-width: none;
}
.contact {
    margin: 0 !important;
    padding: 0 !important;
}
.ly_inputForm,
.ly_confirmForm {
    display: flex !important;
    flex-direction: column;
}

.ly_fieldCnt {
    display: flex;
    align-items: center;
    padding: 30px 0;
    border-top: solid 1px #ccc;
    label {
        font-size: 1.2rem;
        font-weight: bold;
    }
    input,
    textarea {
        width: 250px;
        border: solid 1px #ccc;
        border-radius: 3px;
        padding: 0.5em 0;
    }
    &:first-of-type {
        border-top: none;
    }
    &.ly_fieldCnt__name {
        input {
            width: 100px;
            &:first-of-type {
                margin-right: 0.5em;
            }
        }
        .el_subLabel {
            margin-right: 0.5em;
            font-weight: normal;
        }
    }
    &.ly_fieldCnt__msg {
        align-items: flex-start;
    }
}
.el_fieldTtl {
    width: 200px;
}
.el_fieldTtl_annotate {
    padding: 0.2em 0.5em;
    font-size: 1.2rem;
    margin-right: 0.5em;
    border-radius: 3px;
    letter-spacing: 0.3em;
    &.el_fieldTtl_annotate__any {
        color: #ccc;
        border: solid 1px #ccc;
    }
    &.el_fieldTtl_annotate__must {
        color: #e27933;
        border: solid 1px #e27933;
    }
}
.bl_formBtn {
    position: relative;
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    line-height: 1.5;
    display: flex;
    border-radius: 3.5em;
    padding: 1em 2em 1em 4em;
    transition: all .2s;
    img {
        position: absolute;
        height: 50%;
        top: 50%;
        left: 1.5em;
        transform: translateY(-50%);
    }
    &.bl_formBtn__confirm {
        color: #fff;
        background: #e27933;
        border: solid 1px #e27933;
    }
    &.bl_formBtn__back {
        background: #fff;
        border: solid 1px #ccc;
    }
    &.bl_formBtn__submit {
        color: #fff;
        background: #e27933;
        border: solid 1px #e27933;
    }
}
.ly_formBtnCnt {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.el_confirmLabel {
    font-weight: bold;
}
.ly_formBtnCnt.ly_formBtnCnt__confirm {
    .bl_formBtn:first-of-type {
        margin-right: 1em;
    }
}
.js_validate {
    display: none;
    &.js_validate__active {
        display: block;
    }
}
.el_validate {
    margin: 0.2em 0;
    color: red;
}
.js_input,
.js_confirm {
    display: none;
}
.js_input.js_input__active {
    display: block;
}
.js_confirm.js_confirm__active {
    display: block;
}
.js_thanks {
    text-align: center;
    h2 {
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 2;
    }
    p {
        font-size: 1.2rem;
        line-height: 1.5;
        margin-bottom: 20px;
    }
    div {
        display: flex;
        justify-content: center;
    }
}
.bl_homeBtn {
    position: relative;
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    line-height: 1.5;
    display: flex;
    border-radius: 3.5em;
    padding: 1em 2em 1em 4em;
    transition: all .2s;
    background: #fff;
    border: solid 1px #ccc;
    img {
        position: absolute;
        height: 50%;
        top: 50%;
        left: 1.5em;
        transform: translateY(-50%);
    }
    a {
        text-decoration: none;
        color: #000;
    }
}
.el_moreLink {
    margin-left: auto;
    font-size: 1rem;
    text-decoration: none;
    color: #000;
    padding-left: 2em;
    position: relative;
    img {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 1em;
        height: 1em;
    }
}
@media screen and (max-width:599px) {
    .ly_fieldCnt {
        flex-wrap: wrap;
    }
    .el_fieldTtl {
        width: 100%;
        margin-bottom: 2em;
    }
}

h2.el_lv2heading {
	border-left: 7px solid #e27933;
	padding-left: 10px;
	line-height: 1.5;
	font-size: 1.8rem;
	font-weight: bold;
	margin-bottom: 20px;
}
.ly_fieldCnt {
    label {
        span {
            font-size: 1rem;
            font-weight: normal;
            color: red;
        }
    }
}
legend {
    display: contents;
    font-size: 1.2rem;
    font-weight: 700;
}
fieldset {
    display: flex;
}
.el_supplement {
    margin: 0.2em 0;
    color: red;
}

#inputFile {
    display: flex;
}

#dropArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 100px 0 0;
    border: 2px dashed #494949;
    background: rgba(22, 165, 191, 0);
    transition: all 0.25s cubic-bezier(0.21, 0.51, 0.51, 1);
}

#dropArea.dragover {
    border: 2px solid #16a5bf;
    background: rgba(22, 165, 191, 0.6);
}

#uploadFile {
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 3px;
    border: solid 1px #494949;
    margin-left: 1em;
}

#inputFileWrap {
    position: relative;
    display: inline-block;
}

#btnInputFile,
#btnChangeFile {
    display: table;
    width: 300px;
}

#btnChangeFile {
    display: none;
}


#btnInputFile span,
#btnChangeFile span {
    position: relative;
    z-index: 2;
    display: table-cell;
    width: 300px;
    height: 80px;
    border: 1px solid #333;
    border-radius: 4px;
    background: #333;
    text-decoration: none;
    color: #fff;
    font-size: 26px;
    line-height: 1;
    font-weight: bold;
    vertical-align: middle;
}

#upFileWrap.selected #btnInputFile {
    display: none;
}

#upFileWrap.selected #btnChangeFile {
    display: table;
}