<div id="mv">
	<ul class="top_slider">
    {%- for block in section.blocks -%}
		<li>
            <a href="{{ block.settings.slide_url }}">
                {{ block.settings.slide_img | img_url: 'grande' | img_tag }}
            </a>
        </li>
    {% endfor %}
	</ul>
</div>

{% schema %}
{
  "name": "スライドバナー",
    "blocks": [
        {
            "type": "slide",
            "name": "slide",
            "settings":[
                {
                    "type": "image_picker",
                    "id": "slide_img",
                    "label": "バナー画像を選択する"
                },
                {
                    "type": "url",
                    "id": "slide_url",
                    "label": "バナーURL"
                }
            ]
        }
    ]
}
{% endschema %}