<h1 class="bl_lv1heading bl_lv1heading__ppoilcy">運営会社について</h1>
<div class="ly_logoCnt">
    <img src="//cdn.shopify.com/s/files/1/0631/5229/2080/files/head_logo_medium.jpg?v=15419885790536996616" alt="ロゴ">
</div>
<table>
    <tbody>
        <tr>
            <td>運営会社</td>
            <td>株式会社チームライク</td>
        </tr>
        <tr>
            <td>所在地</td>
            <td>
                〒243-0432<br>
                神奈川県海老名市中央2-9-50<br>
                海老名プライムタワー7F<br>
                <span class="un_annotation">※こちらの住所での対面販売は行っておりません。当サイトよりご注文お願いいたします。</span>
            </td>
        </tr>
        <tr>
            <td>営業時間</td>
            <td>平日10:00 ~ 17:00</td>
        </tr>
        <tr>
            <td>メールアドレス</td>
            <td>info@xxxxx.jp</td>
        </tr>
        <tr>
            <td>ホームページURL</td>
            <td>https://www.xxxxx.jp</td>
        </tr>
        <tr>
            <td>電話番号</td>
            <td>お客様専用ダイヤル（通話無料）<br>0120-441-723</td>
        </tr>
        <tr>
            <td>FAX番号</td>
            <td>050−6865-2745</td>
        </tr>
        <tr>
            <td>事業内容</td>
            <td>トラック用品・保護マット・パレット・取付金具・荷台用品・台車・業務用資材などのオンライン販売</td>
        </tr>
    </tbody>
</table>
<h2 class="bl_lv2heading bl_lv2heading_ppolicy">製品についてのご質問</h2>
<p class="un_caption">トラデポ お客様サポート窓口</p>
<table>
    <tbody>
        <tr>
            <td>電話番号</td>
            <td>
                お客様専用ダイヤル（通話無料）<br>
                0120-441-723<br>
                <br>
                携帯・PHSからでも無料でお電話いただけます。
                お問い合わせの際は、電話番号をお確かめのうえ、お間違いのないようお願いいたします。
            </td>
        </tr>
        <tr>
            <td>営業時間</td>
            <td>10:00 ~ 17:00</td>
        </tr>
        <tr>
            <td>メールアドレス</td>
            <td>info@xxxxx.jp</td>
        </tr>
    </tbody>
</table>
<div class="un_homeBtn">
    <a href="#">TOPへ戻る</a>
</div>