	<div class="sub_contents">
		<h1 class="stit">{{ 'top_qa_icon_a76eed36-9e8c-40a2-a390-dafff88efb98.png' | file_img_url: 'small' | img_tag }}ご利用ガイド</h1>
		<nav>
			<ul class="guide_nav">
                <li>
                    <a href="#sec1">
                        <span>決済方法について</span>
                    </a>
                </li>
                <li>
                    <a href="#sec2">
                        <span>引き渡し・<br>お届けについて</span>
                    </a>
                </li>
                <li>
                    <a href="#sec3">
                        <span>配送・送料について</span>
                    </a>
                </li>
                <li>
                    <a href="#sec4">
                        <span>返品・交換について</span>
                    </a>
                </li>
				
			</ul>
		</nav>
		<div class="guide_contents">
		<section id="sec1">
			<h2 class="sstit">決済方法について</h2>
			<h3 class="shtit">クレジットカード決済</h3>
			{{ 'c_card.png' | file_img_url: 'large' | img_tag: 'クレジットカード' }}
			<p>上記ブランドのクレジットカード（VISA, MasterCard, JCB, AMERICAN EXPRESS, Diners Club International）で決済手続きいただけます。ご注文（決済）の確認後に、商品を手配いたします。</p>
			<ul class="list">
			  <li>分割払い、リボ払いの分割手数料は、ご利用のカード会社にお問い合わせいただけますようお願いいたします。</li>
				<li>お支払い回数は1回払い・分割払い・リボ払いからお選びいただけます。分割払いをご利用の場合、カード会社やお客様のご契約内容に利用可能な分割回数が異なります。</li>
			</ul>
			<ul class="notes mgnB40">
				<li>決済手数料は無料です。</li>
				<li>決済代行会社は、SBペイメントサービス株式会社です。</li>
				<li>当社ではお客様のカード情報を保持いたしませんのでご安心ください。会員登録されている方のみクレジットカードの登録機能が利用いただけますが、決済代行会社のSBペイメントサービス株式会社がカード情報を保管しております。</li>
			</ul>
			
			<h3 class="shtit">銀行振込</h3>
			<p>当社指定の「銀行口座」へお振込みをお願いします。ご入金の確認後に、商品を手配いたします。</p>
			<ul class="list">
			  <li>振込口座はご注文後、当社より送付する「注文確認メール」にてご案内をしております。</li>
				<li>入金確認後に当社より入金確認のご連絡をいたしますが、ご入金後2営業日を過ぎてもご連絡がない場合はトラデポまでお知らせください。</li>
				<li>ご注文後、<strong>「1週間以内」にお振込み</strong>ください。期間内にご入金いただけない場合、自動的にキャンセルとさせていただきます。</li>
			</ul>
			<ul class="notes mgnB60">
				<li>ご利用金融機関所定の振込手数料はお客様のご負担となります。</li>
				<li>ご注文者名と異なるお名前・振込名義の場合は必ずトラデポまでお知らせください。</li>
				<li>土日祝日や年末年始など、銀行休業日はご入金の確認ができません。</li>
				<li>領収書、納品書をご希望の場合は「<a href="">トラデポお客様サポート</a>」までお申し付けください。</li>
			</ul>
		</section>
			
		<section id="sec2">
		  <h2 class="sstit">引き渡し・お届けについて</h2>
			<h3 class="shtit">商品の出荷およびお届け目安</h3>
			<p class="mgnB40">メーカーから直送出荷となり、在庫状況によって納期は異なりますが、通常はご注文後3日営業日で出荷となります。商品ページの「発送」が出荷目安となりますが、納期が7営業日以上かかる場合、メーカー欠品中・廃盤等の場合、お客様にEメール、またはお電話等でご連絡いたします。</p>
			
			<h3 class="shtit">配送業者について</h3>
			<p class="mgnB40">配送業者のご指定はお受けできません。営業所止めや局留めの指定もお受けできません。予めご了承ください。</p>
			
			<h3 class="shtit">配送業者について</h3>
			<p>大型荷物（長尺商品）は、基本的に運送会社での荷の預かり、再配達はできません。</p>
		</section>
			
			<section id="sec3">
			  <h2 class="sstit">配送・送料について</h2>
				<h3 class="shtit">送料について</h3>
				<p>送料は通常送配送・長尺商品配送で異なります。<br>
					長さ1.8mを超えるレール・ポール部材を1点でも含む場合「長尺商品配送」が適用となります。</p>
				<p class="mgnB40">ご注文合計金額が、¥35,000 (税別) 以上で注文送料無料となります。(個別配送、離島エリアを除く)</p>
				
				
				<h3 class="shtit">配送料金表</h3>
				<table class="common_table">
				  <tr>
					  <th></th>
					  <th>通常配送</th>
					  <th>長尺商品配送</th>
					</tr>
					
					<tr>
					  <td>北海道</td>
					  <td>￥2,000</td>
					  <td>￥4,000</td>
					</tr>
					<tr>
					  <td>東北</td>
					  <td>￥1,200</td>
					  <td>￥2,800</td>
					</tr>
					<tr>
					  <td>関東</td>
					  <td>￥1,200</td>
					  <td>￥2,800</td>
					</tr>
					<tr>
					  <td>北信越</td>
					  <td>￥1,200</td>
					  <td>￥2,800</td>
					</tr>
					<tr>
					  <td>中部</td>
					  <td>￥1,200</td>
					  <td>￥2,800</td>
					</tr>
					<tr>
					  <td>関西</td>
					  <td>￥1,200</td>
					  <td>￥2,800</td>
					</tr>
					<tr>
					  <td>中国</td>
					  <td>￥1,200</td>
					  <td>￥2,800</td>
					</tr>
					<tr>
					  <td>四国</td>
					  <td>￥1,200</td>
					  <td>￥2,800</td>
					</tr>
					<tr>
					  <td>九州</td>
					  <td>￥1,200</td>
					  <td>￥2,800</td>
					</tr>
					<tr>
					  <td>沖縄</td>
					  <td>￥2,000</td>
					  <td>￥4,000</td>
					</tr>
				</table>
				<p class="note mgnB40">上記料金表の価格はすべて税別です。</p>
				
				<h3 class="shtit">離島配送料金について</h3>
				<p class="mgnB40">離島のお客様は、ご注文時の注文画面・ご注文確認メールでは送料が反映されていません。ご注文後、当社より配送料金を別途メールでご案内いたします。</p>
				
				<h3 class="shtit">複数商品の同時購入した場合の配送料金について</h3>
				<p class="mgnB40">1回のご注文で複数の商品をご注文いただいた場合でも配送料金は同一です。</p>
				
				<h3 class="shtit">異なるメーカー商品の同梱発送について</h3>
				<p class="mgnB40">発送元が異なるため、同梱発送いただけません。<br>
					また、各メーカー直送となるため、着日なども同一になるとは限りません。</p>
				
				<h3 class="shtit">配送業者について</h3>
				<p class="mgnB40">配送業者のご指定はお受けできません。営業所止めや局留めの指定もお受けできません。予めご了承ください。</p>
				
				<h3 class="shtit">チャーター便について</h3>
				<p>一部の長尺商品は、チャーター便でのお届けとなる場合があります。<br>
					チャーター便の場合は、別途運賃が必要です。また、納期も通常と異なりますので、あわせてトラデポよりご案内いたします。</p>
			</section>
			
			<section id="sec4">
			<h2 class="sstit">返品・交換について</h2>
			<h3 class="shtit">返品・交換の可否</h3>
				<p class=" mgnB10">「返品・交換が可能な条件」を満たす場合、商品到着後7日以内にご連絡いただいた場合、返品・交換の手続きが可能です。お客様都合による返品・交換はお受けいたしかねますので、予めご了承ください。</p>
				<p class="note mgnB40">ご連絡がなく無断返送された場合は、返品・交換の手続きができません。</p>
				<h4>トラデポ お客様お問合せ窓口</h4>
				<table class="common_table">
					<tr>
					  <td>電話番号</td>
						<td>
						  <p>お客様専用ダイヤル (通話無料)<br>0120-441-723</p>
							<p>携帯・PHSからでも無料でお電話いただけます。<br>お問い合わせの際は、電話番号をお確かめのうえ、お間違いのないようお願いいたします。</p>
						</td>
					</tr>
					<tr>
					  <td>営業時間</td>
						<td>平日10:00〜17:00</td>
					</tr>
					<tr>
					  <td>メールアドレス</td>
						<td>
						  info@ｘｘｘｘｘ.jp
						</td>
					</tr>
				</table>
				
				
			<h3 class="shtit">返品・交換が可能な条件</h3>
				<p>下記の場合のみ返品・交換を受け付けています。</p>
				<ul class="list">
				  <li>商品が破損・損傷している場合（初期不良）</li>
					<li>ご注文商品と届いた商品が異なっている場合</li>
					<li>商品が汚れている場合</li>
				</ul>
				<p class="mgnB40">但し、お客様都合の場合やお客様のもとで傷、損傷が生じた商品の場合には返品等はお受けできません。</p>
				
				<h3 class="shtit">返品に係る送料負担の有無</h3>
				<p class="mgnB40">当該商品の返送及び再送に要する送料等は、当社にて負担させていただきます。</p>
				
				<h3 class="shtit">不良品の取扱</h3>
				<p class=" mgnB10">商品到着時に必ず商品をご確認ください。無償で至急交換手配をさせていただきます。<br>不良返品・交換の際は、商品到着後7日以内に必ず当社まで連絡いただけますようお願いいたします。</p>
				<p class="note mgnB40">ご連絡がなく無断返送された場合は、返送手続きができません。</p>
				
				<h3 class="shtit">返品・交換の方法</h3>
				<p class="mgnB40">メーカーおよび商品毎に異なるため、ご連絡いただいた場合に当社から返品先や方法をご案内させていただきます。<br>
					ご迷惑おかけし申し訳ございませんが、無断返送などされないようお願い申し上げます。</p>
				
				<h3 class="shtit">キャンセルについて</h3>
				<p class="mgnB40">ご注文確定後のお客様都合によるキャンセルは承っておりませんのでご了承ください。<br>
					ご入金前（決済前）のご注文内容につきましては、一部キャンセル可能な場合がございますので、当社までお問合せいただけますようお願いいたします。</p>
				
			</section>
		</div>
		
		

		
	

		
		
		
		
		

		<div class="go_top_btn">
		  <a href="{{ shop.secure_url }}">TOPへ戻る</a>
		</div>
		
		
		
		
		
	</div>
