h1.main-page-title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #e27933;
  position: relative;
  padding-left: 2em;
  margin-bottom: 20px;
}

h1.main-page-title:before {
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 1.3em;
  height: 1.3em;
}

.rte {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.ly_statusCnt {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.ly_status {
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

.ly_status span {
  font-weight: bold;
  padding: 0.5em 0;
}

.ly_status:nth-of-type(1):after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 25px;
  transform: translateY(-50%);
  height: 5px;
  width: 50%;
  background: #e5e5e5;
}

.ly_status:nth-of-type(2):before {
  content: '';
  position: absolute;
  z-index: -1;
  right: 50%;
  top: 25px;
  transform: translateY(-50%);
  height: 5px;
  width: 50%;
  background: #e5e5e5;
}

.ly_status:nth-of-type(2):after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 25px;
  transform: translateY(-50%);
  height: 5px;
  width: 50%;
  background: #e5e5e5;
}

.ly_status:nth-of-type(3):before {
  content: '';
  position: absolute;
  z-index: -1;
  right: 50%;
  top: 25px;
  transform: translateY(-50%);
  height: 5px;
  width: 50%;
  background: #e5e5e5;
}

.js_statusCircle {
  color: #fff;
  font-weight: bold;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  font-size: 1.6rem;
}

.js_statusCircle.js_statusCircle__orange {
  background-color: #e27933;
}

.page-width {
  margin: 0 !important;
  padding: 0 !important;
  max-width: none;
}

.contact {
  margin: 0 !important;
  padding: 0 !important;
}

.ly_inputForm,
.ly_confirmForm {
  display: flex !important;
  flex-direction: column;
}

.ly_fieldCnt {
  display: flex;
  align-items: center;
  padding: 30px 0;
  border-bottom: solid 1px #ccc;
}

.ly_fieldCnt label {
  font-size: 1.2rem;
  font-weight: bold;
}

.ly_fieldCnt input {
  width: 250px;
  border: solid 1px #ccc;
  border-radius: 3px;
  padding: 0.5em 0;
}

.ly_fieldCnt textarea {
  width: 100%;
  border: solid 1px #ccc;
  border-radius: 3px;
  padding: 0.5em 0;
}

.ly_fieldCnt input[type=radio] {
  width: auto;
  margin-top: 0;
}

.ly_fieldCnt.ly_fieldCnt__docType {
  border-bottom: none;
}

.ly_fieldCnt.ly_fieldCnt__docType label {
  border: solid 1px #ccc;
  border-radius: 3px;
  padding: 1em 5em;
  position: relative;
}

.ly_fieldCnt.ly_fieldCnt__docType label :not(:last-child) {
  margin-right: 2rem;
}

.ly_fieldCnt.ly_fieldCnt__docType label:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1em;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  border: solid 1px #ccc;
}

.ly_fieldCnt.ly_fieldCnt__docType input {
  display: none;
}

.ly_fieldCnt.ly_fieldCnt__name input {
  margin-top: 0;
}

.ly_fieldCnt.ly_fieldCnt__name input:first-of-type {
  margin-right: 0.5em;
}

.ly_fieldCnt.ly_fieldCnt__name .el_subLabel {
  margin-right: 0.5em;
  font-weight: normal;
}

.ly_fieldCnt.ly_fieldCnt__body {
  align-items: flex-start;
}

.ly_fieldCnt.ly_fieldCnt__payment label {
  display: flex;
  font-weight: normal;
}

.ly_fieldCnt.ly_fieldCnt__payment label :not(:last-child) {
  margin-right: 2rem;
}

.el_fieldTtl {
  width: 200px;
  display: flex;
  align-items: center;
}

.el_fieldTtl label {
  display: block;
}

.el_fieldTtl_annotate {
  white-space: nowrap;
  padding: 0.2em 0.5em;
  font-size: 1.2rem;
  margin-right: 0.5em;
  border-radius: 3px;
  letter-spacing: 0.3em;
}

.el_fieldTtl_annotate.el_fieldTtl_annotate__any {
  color: #ccc;
  border: solid 1px #ccc;
}

.el_fieldTtl_annotate.el_fieldTtl_annotate__must {
  color: #e27933;
  border: solid 1px #e27933;
}

.bl_formBtn {
  position: relative;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  line-height: 1.5;
  display: flex;
  border-radius: 3.5em;
  padding: 1em 2em 1em 4em;
  transition: all .2s;
}

.bl_formBtn img {
  position: absolute;
  height: 50%;
  top: 50%;
  left: 1.5em;
  transform: translateY(-50%);
}

.bl_formBtn.bl_formBtn__confirm {
  color: #fff;
  background: #e27933;
  border: solid 1px #e27933;
}

.bl_formBtn.bl_formBtn__back {
  background: #fff;
  border: solid 1px #ccc;
}

.bl_formBtn.bl_formBtn__submit {
  color: #fff;
  background: #e27933;
  border: solid 1px #e27933;
}

.ly_formBtnCnt {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.el_confirmLabel {
  font-weight: bold;
}

.ly_formBtnCnt.ly_formBtnCnt__confirm .bl_formBtn:first-of-type {
  margin-right: 1em;
}

.js_validate {
  display: none;
}

.js_validate.js_validate__active {
  display: block;
}

.el_validate {
  margin: 0.2em 0;
  color: red;
}

.js_input,
.js_confirm {
  display: none;
}

.js_input.js_input__active {
  display: block;
}

.js_confirm.js_confirm__active {
  display: block;
}

.js_thanks {
  text-align: center;
}

.js_thanks h2 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2;
}

.js_thanks p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

.js_thanks div {
  display: flex;
  justify-content: center;
}

.bl_homeBtn {
  position: relative;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  line-height: 1.5;
  display: flex;
  border-radius: 3.5em;
  padding: 1em 2em 1em 4em;
  transition: all .2s;
  background: #fff;
  border: solid 1px #ccc;
}

.bl_homeBtn img {
  position: absolute;
  height: 50%;
  top: 50%;
  left: 1.5em;
  transform: translateY(-50%);
}

.bl_homeBtn a {
  text-decoration: none;
  color: #000;
}

.el_moreLink {
  margin-left: auto;
  font-size: 1rem;
  text-decoration: none;
  color: #000;
  padding-left: 2em;
  position: relative;
}

.el_moreLink img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1em;
  height: 1em;
}

@media screen and (max-width: 599px) {
  .ly_fieldCnt {
    flex-wrap: wrap;
  }
  .el_fieldTtl {
    width: 100%;
    margin-bottom: 2em;
  }
}

h2.el_lv2heading {
  border-left: 7px solid #e27933;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 10px;
  line-height: 1.5;
  font-size: 1.8rem;
  font-weight: bold;
  background: #f6f6f6;
}

.ly_fieldCnt label span {
  font-size: 1rem;
  font-weight: normal;
  color: red;
}

legend {
  display: contents;
  font-size: 1.2rem;
  font-weight: 700;
}

fieldset {
  display: flex;
}

.el_supplement {
  margin: 0.5em 0;
  color: red;
}

.ly_fileOperation {
  display: flex;
  flex-direction: column;
}

.ly_fileAttachment {
  display: flex;
  padding: 2rem 4rem;
  border-radius: 3px;
  border: dashed 2px #ccc;
  justify-content: center;
}

.ly_fileAttachment_imgCnt {
  margin-right: 2rem;
}

.ly_fileAttachment_txtCnt p:first-of-type {
  margin-bottom: 1em;
}

.ly_fileAttachment_txtCnt span {
  padding: .5em 1em;
  margin-left: 1em;
  border-radius: 3px;
  border: solid 1px #ccc;
}

h3 {
  color: #e27933;
  font-size: 1.4rem;
  margin-bottom: 1em;
}

.ly_deadline {
  margin-bottom: 2rem;
}

.ly_deadline ul {
  padding: 1em;
  background: #fcfed5;
  list-style-type: disc;
}

.ly_deadline li:not(:last-child) {
  margin-bottom: 1em;
}

.ly_textarea {
  width: calc(100% - 200px);
}
